.slide-item-dois{
    width: 100%;
    height: 200px;
    object-fit: cover;
    /*border-radius: 350px;*/
    box-shadow: none;
  }
  .container-dois {
    top: 180px;
    left: 1110px;
    position: absolute;
    width: 370px;
    height: 50px;
  }
  body{
    box-shadow: none;
  }
  
  .swiper-slide {
    box-shadow: none !important;
  }