.logo-container{
    
    justify-content: center;
    align-items: center;
    height: 20px; /* ou o valor adequado */
    object-fit: cover;
    margin: 0 auto;}
#Imagem{
    position: absolute;
    width: 180px;
    max-width: 500px; /* Tamanho máximo, se necessário */
    height: auto;
    z-index: 1;
    top: -17px;
    left: 100px;
}
body{
    /*background-image: url('../imagens/grade.png');*/
 
}
#grade{
    top: 100px;
    left: 920px;
    transform: translate(-50%);
    position: fixed;
    width: 1920px;
    height: 100%;
}
#Lions{
    position: absolute;
    top: -17px;
    left: 1720px;
    width: 180px;
    height: auto;
    z-index: 1;
}